#addPopup__shadow {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba($color: #000, $alpha: 0.8);
    z-index: 2;
}

#addPopup {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 900px;
    height: 600px;
    font-family: $font1;
    background: #161b68;
    z-index: 3;
    color: #fff;

    .addPopup__leftSide {
        float: left;
        height: 600px;
        width: 300px;
        background: #0e1346;
        position: relative;

        h1 {
            font-weight: 200;
            font-size: 40px;
            padding: 80px 0 0 25px;
        }
        
        .addPopup__cancelBtn {
            position: absolute;
            bottom: 35px;
            width: calc(100% - 50px);
            margin: 0 25px;
            background: transparent;
            border: 1px solid #a90093;
            color: #fff;
            font-weight: 200;
            font-size: 20px;
            text-align: center;
            cursor: pointer;
            &:hover {
                background: #a0008b;
                border: 1px solid #a0008b;
            }

            p {
                padding: 10px;
            }
        }
    }

    .addPopup__rightSide {
        float: left;
        height: 600px;
        width: 600px;
        position: relative;
        background: #161b68;
        display: flex;
        align-items: center;

        form {
            width: 80%;
            margin: 0 auto;
            position: relative;

            .addPopup__inputContainer {
                width: 100%;
                height: 35px;
                margin: 45px 0 60px 0;
                font-weight: 200;

                label {
                    font-size: 12px;
                    margin-left: 5px;
                }

                input[type=text], input[type=number] {
                    width: 100%;
                    height: 40px;
                    border: 1px solid #2c3595;
                    background: transparent;
                    outline: none;
                    color: #fff;
                    padding-left: 10px;
                    font-weight: 200;
                    border-radius: 4px;
                }

                input[type=date] {
                    float: left;
                    width: calc(50%);
                    height: 40px;
                    color: #fff;
                    border: 1px solid #2c3595;
                    background: transparent;
                    outline: none;
                    border-radius: 4px;
                    &::-webkit-datetime-edit {
                        display: none;
                    }
                    &::-webkit-calendar-picker-indicator {
                        background: transparent;
                        width: 100%;
                    }
                }
            }

            input[type=submit] {
                position: absolute;
                bottom: 60px;
                left: -335px;
                width: 250px;
                background: #a0008b;
                color: #fff;
                height: 46px;
                outline: none;
                font-weight: 200;
                font-size: 20px;
                text-align: center;
                cursor: pointer;
                border: 1px solid #a0008b;
                &:hover {
                    background: #830071;
                }
            }
        }
    }
}