#content {
    margin-top: 40px;
    width: 100%;
    height: 100%;
    font-family: $font1;
    margin-bottom: 50px;

    .content-topEl {
        border-bottom: 4px solid rgb(179, 179, 179) !important; 
        font-weight: 600 !important; 
        cursor: default !important;
        &:hover {
            background: #fff !important;
        }
    }

    #content__info--id {
        border-right: 1px solid rgb(179, 179, 179) !important;
    }

    #content__container {
        width: 95%;
        margin: 0 auto;
        height: 80px;
        border-bottom: 1px solid lightgrey;
        color: #324564;
        &:hover {
            background: #eee;
        }

        .content__info {
            float: left;
            width: calc(100% / 8);
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                text-decoration: none;
            }

            ul {
                list-style: none;
                font-size: 12px;

                li {
                    cursor: pointer;
                }

                .content_list--edit {
                    color: #ff9900;
                    font-size: 14px;
                    &:hover {
                        color: #d37f00;
                    }
                }

                .content_list--delete {
                    color: #f03131;
                    font-size: 14px;
                    &:hover {
                        color: #bb2727;
                    }
                }
            }

            h6 {
                margin-left: 4px;
                font-size: 11px;
                font-weight: 400;
            }
        }
    }
}
