.menu {
    height: 190px;
    width: 100%;
    font-family: $font1;
    color: #fff;
    z-index: 3;

    .menu__top {
        height: 110px;
        width: 100%;

        .menu__blocksIcon {
            float: left;
            height: 110px;
            width: 110px;
            background: #2a2f85;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 40px;
            cursor: pointer;
            &:hover {
                background: #191f72;
                color: #ddd;
            }
        }

        .menu__middleTop {
            float: left;
            height: 110px;
            width: calc(100% - 320px);
            background: #191f72;
            display: flex;
            align-items: center;

            h1 {
                font-weight: 200;
                margin-left: 20px;
                font-size: 50px;
            }
        }

        .menu__rightPanel {
            float: left;
            height: 110px;
            width: 210px;
            background: #0000FF;

            .menu__name {
                width: 100%;
                height: 55px;
                background: #2a2f85;
                display: flex;
                align-items: center;
                justify-content: center;

                h4 {
                    font-weight: 400;
                    user-select: none;
                }
            }

            .menu__panelIcons {
                width: 100%;
                height: 55px;
                display: flex;

                .menu__icon--1,
                .menu__icon--2,
                .menu__icon--3 {
                    background: #2c3595;
                    height: 55px;
                    width: calc(100% / 3);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    &:hover {
                        color: #ddd;
                        background: #0f1241be;
                    }
                }
            }
        }
    }

    .menu__bottom {
        clear: both;
        background: #0e1346;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        #menu__add {
            float: right;
            margin-left: auto;
            height: 80px;
            width: 210px;
            background: #a90093;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: #fff;
            text-decoration: none;
            &:hover {
                background: #a0008b;
                color: #ddd;
            }

            h4 {
                text-align: right;
                font-weight: 200;
                font-size: 25px;
            }
        }
    }
}