.menu {
    height: 190px;
    width: 100%;
    font-family: $font1;
    color: #fff;

    .menu__top {
        height: 110px;
        width: 100%;

        .menu__blocksIcon {
            float: left;
            height: 110px;
            width: 110px;
            background: #2a2f85;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 40px;

            i {
                cursor: pointer;
                &:hover {
                    color: #ddd;
                }
            }
        }

        .menu__middleTop {
            float: left;
            height: 110px;
            width: calc(100% - 320px);
            background: #191f72;
            display: flex;
            align-items: center;

            h1 {
                font-weight: 200;
                margin-left: 20px;
                font-size: 50px;
            }
        }

        .menu__rightPanel {
            float: left;
            height: 110px;
            width: 210px;
            background: #0000FF;

            .menu__name {
                width: 100%;
                height: 55px;
                background: #2a2f85;
                display: flex;
                align-items: center;
                justify-content: center;

                h4 {
                    font-weight: 400;
                    user-select: none;
                }
            }

            .menu__panelIcons {
                width: 100%;
                height: 55px;
                background: #2c3595;
                display: flex;

                .menu__icon {
                    height: 55px;
                    width: calc(100% / 3);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    &:hover {
                        color: #ddd;
                    }
                }
            }
        }
    }

    .menu__bottom {
        clear: both;
        background: #0e1346;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        
        img {
            margin: 0 15px 0 75px;
            height: 25px;
            width: 25px;
            cursor: pointer;
        }

        .menu__searchInput {
            outline: none;
            background: #0e1346;
            color: #fff;
            height: 34px;
            font-size: 25px;
            font-family: $font1;
            font-weight: 200;
            border: none;
            &::placeholder {
                color: #fff;
                font-weight: 200;
            }
        }
    }
}